
:root {
   --foreground-rgb: 0, 0, 0;
   --background-start-rgb: 214, 219, 220;
   --background-end-rgb: 255, 255, 255;
   --notion-red: rgb(224, 62, 62);
   --notion-pink: rgb(173, 26, 114);
   --notion-blue: rgb(11, 110, 153);
   --notion-purple: rgb(105, 64, 165);
   --notion-teal: rgb(15, 123, 108);
   --notion-yellow: rgb(223, 171, 1);
   --notion-orange: rgb(217, 115, 13);
   --notion-brown: rgb(100, 71, 58);
   --notion-gray: rgb(155, 154, 151);
   --x3: 13px;
}

.notion-red_background {
   background-color: var(--notion-red);
}

.notion-pink_background {
   background-color: var(--notion-pink);
}

.notion-blue_background {
   background-color: var(--notion-blue);
}

.notion-purple_background {
   background-color: var(--notion-purple);
}

.notion-teal_background {
   background-color: var(--notion-teal);
}

.notion-yellow_background {
   background-color: var(--notion-yellow);
}

.notion-orange_background {
   background-color: var(--notion-orange);
}

.notion-brown_background {
   background-color: var(--notion-brown);
}

.notion-gray_background {
   background-color: var(--notion-gray);
}

.notion-green_background {
   background-color: var(--notion-green);
}
