@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   box-sizing: border-box;
}

:root {
   --radius: 8px;
}

@media (prefers-color-scheme: dark) {
   :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
   }
}

body {
   padding: 0;
   margin: 0;
}

/* #btn-menu {
   opacity: 0;
   transition: 0.5s opacity ease-in-out;
   z-index: 1;
   position: fixed;
   top: calc(40px - var(--height)/2);
   right: 2rem;
} */

.btn-menu {
   --width: 35px;
   --height: 45px;
   width: var(--width);
   height: var(--height);
   position: relative;
   display: block;
   cursor: pointer;
}

.btn-menu::after,
.btn-menu::before {
   content: "";
   display: block;
   width: var(--width);
   height: 3px;
   background: #000;
   border-radius: 0;
   position: absolute;
   left: 0;
   transition: all 0.3s ease-in-out;
}

.btn-menu::before {
   top: 10px;
   box-shadow: 0 10px #000;
}

.btn-menu::after {
   bottom: 10px;
}

.btn-menu:hover::before {
   box-shadow: none;
}

.cover {
   height: 500px;
}

.posts-item {
   display: flex;
   position: relative;
   width: 700px;
   height: 230px;
   border-radius: var(--radius);
   margin-bottom: 1rem;
   background-color: white;
   box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
   transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.posts-item:hover {
   box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.16);
   transform: scale3d(1.01, 1.01, 1.01);
}

.posts-cover {
   width: 48%;
   border-radius: 8px 0 0 8px;

}

.object {
   object-fit: cover;
}

.posts-info {
   width: 55%;
}

.posts-title {
   font-weight: bold;
}

.posts-secondary {
   color: hsl(210, 8%, 70%);
   font-size: 1rem;
}

.aaa {
   width: 100px;
   height: 230px;
   border-radius: var(--radius);
   background-color: aliceblue;
}