@tailwind base;
@tailwind components;
@tailwind utilities;

* {
   box-sizing: border-box;
}

:root {
   --radius: 8px;
   --gray: #8f8f8f;
   --width:#fff;
   --bg_light: #ffffff;
   --bg_dark: #202020;
   --bg_item_dark: #242424;
   --bg_item_dark_hover: #202224;
   --shadow: rgba(0, 0, 0, 0.08);
   --shadow_2: rgba(0, 0, 0, 0.16);
   --font_size: 1.2rem;
   --font_height: 1.5rem;
   --bar_border: 1.2px solid var(--shadow);
   --bar_border_hover:2px solid var(--shadow);
}

body {
   padding: 0;
   margin: 0;
}

::-webkit-scrollbar {
   display: none;
}

.cover {
   height: 500px;

}

@media (min-width: 375px) {

   .container {
      max-width: 100%;
   }
}

@media (min-width: 428px) {

   .container {
      max-width: 400px;
   }
}

@media (min-width: 640px) {

   .container {
      max-width: 540px;
   }
}

@media (min-width: 768px) {

   .container {
      max-width: 668px;
   }
}

@media (min-width: 1024px) {

   .container {
      max-width: 924px;
   }
}

@media (min-width: 1280px) {

   .container {
      max-width: 1180px;
   }
}

@media (min-width: 1536px) {

   .container {
      max-width: 1436px;
   }
}

@media (prefers-color-scheme: dark) {
   body {
      background-color: var(--bg_dark);
   }

   p,
   h1,
   h2,
   span {
      color: var(--bg_light);
   }

   .btn-menu::after,
   .btn-menu::before {
      background: #ffffff;
   }

   .btn-menu::before {

      box-shadow: 0 10px #ffffff;
   }

   .posts .posts-secondary {
      color: var(--gray);
   }

   .posts-item,
   .tags-card {
      background-color: var(--bg_item_dark);
   }

   .posts-item:hover {
      background-color: var(--bg_dark_hover);
   }

   :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
   }

   /* 
   .tags {
      color: #E3DACD;
   } */
}