.header {
  display: flex;
  flex-grow: 1;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  align-items: center;
  width: 100%;
  height: calc(var(--px) * 5.5);
}

.land {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: #d2d2d242;
  transform: translateY(-110%);
  transition: transform 0.6s cubic-bezier(0.19, 1, 0.22, 1);
}

.title {
  margin-left: calc(var(--px) * 1.5);
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 2rem;
  user-select: none;
}

.grow {
  flex-grow: 1;
}

.right {
  display: flex;
  gap: calc(var(--px) * 0.8);
  margin-right: calc(var(--px) * 1.5);
}

.btn_menu {
  z-index: 100;
  --width: 35px;
  --height: 45px;
  width: var(--width);
  height: var(--height);
  margin-right: 10px;
  position: relative;
  display: block;
  cursor: pointer;
}

.btn_menu::after,
.btn_menu::before {
  content: "";
  display: block;
  width: var(--width);
  height: 3px;
  background: #000;
  border-radius: 0;
  position: absolute;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.btn_menu::before {
  top: 10px;
  box-shadow: 0 10px #000;
}

.btn_menu::after {
  bottom: 10px;
}

.btn_menu:hover::before {
  box-shadow: none !important;
}

@media (min-width: 375px) and (max-width: 427px) {
  .title {
    font-size: calc(var(--px) * 2);
  }
}

@media (min-width: 428px) and (max-width: 639px) {
}

@media (min-width: 640px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) and (max-width: 1279px) {
}

@media (min-width: 1280px) and (max-width: 1535px) {
}

@media (min-width: 1536px) {
}

[data-theme="dark"] .btn_menu::after,
[data-theme="dark"].btn_menu::before {
  background: #ffffff;
}

[data-theme="dark"] .btn_menu::before {
  box-shadow: 0 10px #ffffff;
  background: #ffffff;
}

[data-theme="dark"].btn_menu:hover {
  box-shadow: none;
}
