.header {
   position: sticky;
   top: 0;
   left: 0;
   z-index: 0;
   width: 100%;
}
.header:scrolled{
   background-color: #f5f5f5;
}

.head {
   display: flex;
   user-select: none;
}

.title {
   font-weight: 700;
   font-size: 1.5rem;
   line-height: 2rem;
}

.grow {
   flex-grow: 1;
}

.btn_menu {
   --width: 35px;
   --height: 45px;
   width: var(--width);
   height: var(--height);
   position: relative;
   display: block;
   cursor: pointer;
}

.btn_menu::after,
.btn_menu::before {
   content: "";
   display: block;
   width: var(--width);
   height: 3px;
   background: #000;
   border-radius: 0;
   position: absolute;
   left: 0;
   transition: all 0.3s ease-in-out;
}

.btn_menu::before {
   top: 10px;
   box-shadow: 0 10px #000;
}

.btn_menu::after {
   bottom: 10px;
}

.btn_menu:hover::before {
   box-shadow: none;
}

@media (min-width: 375px) {}

@media (min-width: 428px) {}

@media (min-width: 640px) {}

@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1280px) {}

@media (min-width: 1536px) {}

/* @media (prefers-color-scheme: dark) { */

[data-theme='dark'] .btn_menu::after,
.btn_menu::before {
   background: #FFFFFF;
}

[data-theme='dark'] .btn_menu::before {
   box-shadow: 0 10px #FFFFFF;
}
/* } */