.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin: auto;
  gap: calc(var(--px) * 2);
}

.container p {
  cursor: pointer;
}

.land {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: #d2d2d242;
  transform: translateY(-110%);
}

.layout {
  display: flex;
  /* max-width: 97%; */
  margin: auto;
  gap: calc(var(--px) * 4);
}

.bar {
  --px: 40px;
  background-color: var(--bg-color);
  height: var(--px);
  border-radius: var(--radius);
  line-height: var(--px);
  text-align: center;
  border-color: var(--shadow);
  border: var(--bar_border);
  box-shadow: 0 0 20px 2px var(--shadow);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.bar:hover {
  /* transform: scale(1.02, 1.02); */
  border: var(--bar_border_hover);
  box-shadow: 0 0px 20px 2px var(--shadow_2);
}

.bar_text {
  text-align: center;
}

.posts_item {
  display: flex;
  flex-direction: initial;
  position: relative;
  width: 700px;
  /* height: 230px; */
  border-radius: var(--radius);
  margin-bottom: calc(var(--px) * 2);
  background-color: var(--bg-color);
  box-shadow: 2px 4px 12px var(--shadow);
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.posts_item:hover {
  box-shadow: 2px 4px 16px var(--shadow_2);
  transform: scale3d(1.01, 1.01, 1.01);
}

.posts_heart {
  position: absolute;
  top: 0;
  right: 20px;
}

.posts_cover {
  position: relative;
  overflow: hidden;
  width: 48%;
  border-radius: 8px 0 0 8px;
}

.posts_cover img {
  object-fit: cover;
  position: initial;
}

.time_down:hover {
  display: flex;
  position: absolute;
  background: var(--shadow);
  width: 100%;
}

.posts_info {
  display: flex;
  width: 55%;
  padding-top: calc(var(--px) * 1.3);
  padding-bottom: var(--px);
  padding-left: calc(var(--px) * 1.6);
  padding-right: calc(var(--px) + 5px);
}

.posts_secondary {
  font-size: 1rem;
}

.posts_title {
  display: flex;
  font-weight: bold;
  font-size: var(--font_size);
  line-height: var(--font_height);
}

.posts_wrapper {
  margin-left: 10px;
}

.post_tags {
  display: flex;
  flex-wrap: wrap;
  margin-left: -6px;
}

.auther_card,
.tags_card {
  border-radius: var(--radius);
  box-shadow: 2px 4px 12px 2px var(--shadow_3);
  background: var(--bg-color);
  padding: 1rem;
}

.auther_card {
  width: 300px;
  height: 340px;
  background: #425aef;
}

.auther_avatar {
  display: flex;
  margin: 45px auto;
  justify-content: center;
  position: relative;
}

.auther_avatar img {
  border-radius: 100%;
}

.auther_info {
  display: flex;
  flex-direction: column-reverse;
}

.auther_info p {
  color: var(--white);
}

.auther_name {
  position: absolute;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 2rem;
}

.tags_card {
  width: 300px;
  height: 230px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.tags_item {
  display: flex;
  flex-wrap: wrap;
  padding-top: 8px;
}

.tags {
  height: calc(var(--px) * 2.5);
  font-size: 0.8rem;
  padding: 3px 5px;
  color: var(--tag-color);
}

.sidebar_name {
  position: absolute;
  font-size: 1.5rem;
  font-weight: bold;
}

.sidebar {
  display: flex;
  flex-direction: column;
}

.sticky {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  top: 1rem;
  align-self: flex-start;
  position: sticky;
}

.date {
  color: var(--gray);
}

@media (min-width: 375px) and (max-width: 427px) {
  .list_container {
    display: block;
    max-width: 100%;
    margin: 0;
  }

  .posts_item {
    margin: auto;
    margin-bottom: calc(var(--px) * 2);
    flex-direction: column;
    max-width: 380px;
  }

  .posts_cover {
    height: 150px;
    width: 100%;
    border-radius: 8px 8px 0 0;
  }

  .posts_info {
    width: 100%;
    padding-left: 20px;
    padding-right: 0.5rem;
  }

  .posts_info .icon {
    font-size: 21px;
  }

  .date {
    font-size: 13px;
    color: var(--gray);
  }

  .post_tags {
    width: 100%;
  }

  .list_items {
    padding-right: initial;
  }

  .sticky {
    display: none;
  }

  .posts_title {
    font-weight: normal;
    font-size: var(--font_size);
    line-height: var(--font_height);
  }
}

@media (min-width: 428px) and (max-width: 639px) {
  .list_container {
    max-width: 100%;
  }

  .posts_item {
    flex-direction: column;
    width: auto;
  }

  .posts_cover {
    height: 150px;
    width: 100%;
    border-radius: 8px 8px 0 0;
  }

  .posts_info {
    display: flex;
    width: auto;
  }

  .posts_title {
    font-size: calc(var(--font_size) * 1.2);
  }

  .posts_secondary {
    font-size: calc(var(--font_size) * 0.9);
  }

  .list_tags {
    width: 90%;
  }

  .sticky {
    display: none;
  }
}

@media (min-width: 640px) and (max-width: 767px) {
  .posts_item {
    flex-direction: column;
    width: 300px;
    height: 100px;
  }

  .sticky {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .posts_item {
    flex-direction: initial;
    height: 230px;
  }
  .posts_info {
    width: 55%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .posts_title {
    font-weight: normal;
    font-size: calc(var(--px) * 1.8);
    line-height: var(--font_height);
  }

  .sticky {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .posts_item {
    flex-direction: initial;
    width: 500px;
    height: 180px;
  }

  .sticky {
    display: flex;
  }
}

@media (min-width: 1280px) and (max-width: 1535px) {
  .posts_item {
    flex-direction: initial;
    width: 550px;
    height: 200px;
  }

  .sticky {
    display: flex;
  }
}

@media (min-width: 1536px) {
  .posts_item {
    flex-direction: initial;
    width: 700px;
    height: 230px;
  }

  .sticky {
    display: flex;
  }
}
