.list_container {
   display: flex;
   max-width: 80%;
   margin: auto;
   gap: 3rem;
}

.list_container p {
   cursor: pointer;
}

/* .list_items {
   padding-right: 20px;
} */

.posts_item {
   display: flex;
   flex-direction: initial;
   position: relative;
   width: 700px;
   height: 230px;
   border-radius: var(--radius);
   margin-bottom: 1rem;
   background-color: var(--bg_light);
   box-shadow: 2px 4px 12px var(--shadow);
   transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}

.posts_item:hover {
   box-shadow: 2px 4px 16px var(--shadow_2);
   transform: scale3d(1.01, 1.01, 1.01);
}

.posts_heart {
   position: absolute;
   top: 0;
   right: 20px;
}

.posts_cover {
   position: relative;
   overflow: hidden;
   width: 48%;
   border-radius: 8px 0 0 8px;

}

.cover {
   object-fit: cover;
}

.posts_info {
   display: flex;
   width: 55%;
   padding-top: 1rem;
   padding-bottom: 1rem;
   padding-left: 2.5rem;
   padding-right: 2.5rem;
}

.posts_title {
   display: flex;
   font-weight: bold;
   font-size: var(--font_size);
   line-height: var(--font_height);
}

.posts_secondary {
   color: hsl(210, 8%, 70%);
   font-size: 1rem;
}

.auther_card {
   width: 300px;
   height: 340px;
   padding: 1rem;
   border-radius: var(--radius);
   background-color: aliceblue;
}

.auther_avatar {
   display: flex;
   margin: 45px auto;
   justify-content: center;
   position: relative;
}

.auther_avatar img {
   border-radius: 100%;
}

.auther_info {
   display: flex;
   flex-direction: column-reverse;
}

.auther_name {
   position: absolute;
   font-size: 1.1rem;
   font-weight: bold;
   line-height: 2rem;
}


.card_info {
   width: 300px;
   height: 230px;
   padding: 1rem;
   border-radius: var(--radius);
   background-color: aliceblue;
}

.title {
   font-size: 1.5rem;
   font-weight: bold;
}

.tags_item {
   padding-top: 8px;
}

.tags {
   font-size: .8rem;
   padding: 3px 5px;
   color: #6B5449;
}

.post_tags {
   width: 220px;
}

.sidebar_name {
   position: absolute;
   font-size: 1.5rem;
   font-weight: bold;
}

.sidebar {
   display: flex;
   flex-direction: column;
}

.sticky {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   top: 1rem;
   align-self: flex-start;
   position: sticky;
}

@media(min-width: 375px) and (max-width: 427px) {
   .list_container{
      display: block;
      max-width: 95%;
   }
   .posts_item {
      margin: auto;
      flex-direction: column;
      width: 95%;
      height: 300px;

   }

   .posts_cover {
      height: 50%;
      width: 100%;
      border-radius: 8px 8px 0 0;
   }

   .posts_info {
      width: 100%;
      padding-left: 20px;
      padding-right: .5rem;
   }
   .posts_info .icon{
      font-size: 21px;
   }
   .date{
      font-size: 13px;
      color: var(--gray);
   }
   .post_tags{
      width: 100%;
   }

   .list_items {
      padding-right: initial;
   }

   .sticky {
      display: none;
   }

   .posts_title {
      font-weight: normal;
      font-size: var(--font_size);
      line-height: var(--font_height);
   }
}

@media (min-width: 428px) and (max-width: 639px) {
   .list_container{
      max-width: 95%;
   }
   .posts_item {
      flex-direction: column;
      width: auto;
      height: 300px;
   }

   .posts_cover {
      height: 50%;
      width: 100%;
      border-radius: 8px 8px 0 0;
   }
   .posts_info{
      display: flex;
      width: auto;
   }
   .posts_title{
      font-size: calc(var(--font_size) * 1.2);
   }
   .posts_secondary{
      font-size: calc(var(--font_size) * .9);
   }
   .list_tags{
      width: 90%;
   }
   .sticky {
      display: none;
   }

}

@media (min-width: 640px) and (max-width: 767px) {
   .posts_item {
      flex-direction: column;
      width: 300px;
      height: 100px;
   }

   .sticky {
      display: none;
   }
}

@media (min-width: 768px) and (max-width: 1023px) {
   .posts_info {
      width: 55%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: .5rem;
      padding-right: .5rem;
   }

   .posts_item {
      flex-direction: initial;
      width: 350px;
      height: 150px;
   }

   .posts_title {
      font-weight: normal;
      font-size: calc(var(--font_size) - .5rem);
      line-height: var(--font_height);
   }

   .sticky {
      display: block;
   }
}

@media (min-width: 1024px) {
   .posts_item {
      flex-direction: initial;
      width: 500px;
      height: 180px;
   }

   .sticky {
      display: flex;
   }

}

@media (min-width: 1280px) {

   .posts_item {
      flex-direction: initial;
      width: 550px;
      height: 200px;
   }

   .sticky {
      display: flex;
   }
}

@media (min-width: 1536px) {

   .posts_item {
      flex-direction: initial;
      width: 700px;
      height: 230px;
   }

   .sticky {
      display: flex;
   }
}

@media (prefers-color-scheme: dark) {

   .posts_title {
      color: var(--bg_light);
   }

   .btn-menu::after,
   .btn-menu::before {
      background: #ffffff;
   }

   .btn-menu::before {

      box-shadow: 0 10px #ffffff;
   }

   .posts .posts_secondary {
      color: var(--gray);
   }

   .posts_item,
   .card_info,
   .auther_card {
      background-color: var(--bg_item_dark);
   }

   .posts_item:hover {
      background-color: var(--bg_dark_hover);
   }

   .tags {
      color: #E3DACD;
   }
}