.none,
.notion-page-cover-wrapper,
.notion-page-icon-hero,
.notion-page-icon-span,
/* .notion-collection-page-properties, */
.notion-header,
.notion-collection-column-title {
   display: none !important;
}

.notion-app {
   margin: auto;
   max-width: 85%;
   background-color: initial;
}


.katex-display>.katex>.katex-html {
   display: none;
}