.none,
.notion-page-cover-wrapper,
.notion-page-icon-hero,
.notion-page-icon-span,
.notion-collection-page-properties,
.notion-header,
.notion-collection-column-title,
.notion-title {
  display: none !important;
}

.notion-app {
   --padding:15px;
   padding-left: var(--padding);
   padding-right: var(--padding);
  margin: auto;
  margin-top: 70px;
  max-width: 1000px;
  box-shadow: 0 0 15px 2px var(--shadow);
  border-radius: 15px;
  background-color: initial;
}

.katex-display > .katex > .katex-html {
  display: none;
}
.notion-full-width {
  box-sizing: border-box;
  --notion-max-width: calc(min(1920px, 98vw));
  padding-left: 0px;
  padding-right: 0px;
}
.notion-page-has-cover.notion-page-has-icon.notion-page-has-text-icon {
  padding-top: 2rem;
}
@media (min-width: 375px) and (max-width: 427px) {
  .notion-app {
    max-width: none;
  }
  .notion-full-width {
    --notion-max-width: none;
    padding-left: calc(var(--px) * 1.5);
    padding-right: calc(var(--px) * 1.5);
  }
}

@media (min-width: 428px) and (max-width: 639px) {
}

@media (min-width: 640px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) and (max-width: 1279px) {
}

@media (min-width: 1280px) and (max-width: 1535px) {
}

@media (min-width: 1536px) {
}
