.none,
.notion-page-cover-wrapper,
.notion-page-icon-hero,
.notion-page-icon-span,
.notion-collection-page-properties,
.notion-header,
.notion-collection-column-title,
.notion-title {
  display: none !important;
}

.notion-app {
  margin: auto;
  max-width: 85%;
  background-color: initial;
}

.katex-display > .katex > .katex-html {
  display: none;
}
@media (min-width: 375px) and (max-width: 427px) {
  .notion-app {
    max-width: none;
  }
  .notion-full-width {
    --notion-max-width: none;
    padding-left: calc(var(--px) * 1.5);
    padding-right: calc(var(--px) * 1.5);
  }
}

@media (min-width: 428px) and (max-width: 639px) {
}

@media (min-width: 640px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) and (max-width: 1279px) {
}

@media (min-width: 1280px) and (max-width: 1535px) {
}

@media (min-width: 1536px) {
}
