.tabs {
   box-sizing: border-box;
   display: flex;
   position: relative;
   background-color: var(--tabbg);
   padding: 2.5px;
   border-radius: 8px;
}

.tabs * {
   z-index: 2;
}

.input {
   display: none;
}

.tab {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 40px;
   height: 40px;
   border-radius: 100%;
}

.tab:hover {
   background-color: #425AEF;
   color: white;
   transition: 0.3s;
}