.type_btn {
  display: flex;
  align-items: center;
  gap: 5px;
}
.type_menu {
  /* display: none; */
  width: 100px;
  position: absolute;
  z-index: 10;
  border-radius: var(--radius);
  transform: translateY(-30%);
  transition: all 0.5s cubic-bezier(0.45, 0.01, 0.49, 1.01) 0s;
}
.type_btn:hover .type_menu {
  display: flex;
}
.test:hover .type_menu {
  display: flex;
  transform: translateY(20%) scale(1);
  transition: all 0.5s cubic-bezier(0.45, 0.01, 0.49, 1.01) 0s;
}

.header {
  display: flex;
  flex-grow: 1;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  max-width: 100vw;
  overflow: hidden;
  height: 50px;
  min-height: 50px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  background-color: var(--bg-color);
}

.tags {
  font-size: 0.8rem;
  padding: 3px 5px;
  color: var(--tag-color);
}
.pageinfo {
  position: relative;
  margin: 10px auto 30px auto;
  gap: initial;
  align-items: center;
}
.index {
  z-index: 1;
}
.title {
  display: flex;
  align-items: center;
  line-height: normal;
}
.title p {
  font-size: calc(var(--px) * 5);
}
.title span {
  font-size: calc(var(--px) * 3);
  color: var(--gray);
}

.meta {
  display: flex;
  align-items: center;
}

.cover {
  position: absolute;
  width: 100%;
  height: 100%;
}
.img {
  position: relative;
  /* filter: blur(10px); */
  object-fit: cover;
}

.pagination {
  cursor: pointer;
  display: flex;
  gap: 0.3rem;
}

.line {
  display: flex;
  align-items: center;
  color: var(--bg_item_dark);
}

.icon path {
  fill: var(--black);
}

.pageItemActive {
  --tw-shadow: 0 1px 4px 2px rgb(0, 0, 0, 0.1);
  /* border: 1px solid 0 0 #0000; */
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  border-radius: calc(var(--radius) - 4px);
}

.pageItem {
  display: flex;
}

.pageLink:hover {
  border-radius: calc(var(--radius) - 4px);
  background-color: hsl(240, 4.8%, 95.9%);
}

.pageLink {
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: all;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.3s;
  width: 1.9rem;
  height: 1.9rem;
}

/* @media (prefers-color-scheme: dark) { */
[data-theme="dark"] .pageLink:hover {
  border-radius: calc(var(--radius) - 4px);
  background-color: hsl(240, 3%, 24%);
}

[data-theme="dark"] .pageItemActive {
  --tw-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.1);
}

[data-theme="dark"] .icon path {
  fill: var(--white);
}
/* } */
.tabs {
  box-sizing: border-box;
  display: flex;
  position: relative;
}

.tabs * {
  z-index: 2;
}

.input {
  display: none;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.tab:hover {
  background-color: #11659a;
  color: var(--bg-color);
  transition: 0.3s;
  border-radius: 100%;
}

@media (min-width: 375px) and (max-width: 427px) {
  .pageinfo {
    margin: 0;
  }
  .title p {
    font-size: calc(var(--px) * 2.5);
  }
  .title span {
    font-size: calc(var(--px) * 2);
  }
}

@media (min-width: 428px) and (max-width: 639px) {
}

@media (min-width: 640px) and (max-width: 767px) {
}

@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) and (max-width: 1279px) {
}

@media (min-width: 1280px) and (max-width: 1535px) {
}

@media (min-width: 1536px) {
}
